body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
  font-family: Fira Sans Condensed, arial;
  background-color: #a7f464;
}
.form-container,
.display-container {
  background-color: #fff;
  padding: 30px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(7, 137, 243);
}

h1 {
  text-align: center;
  color: #d909f0;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

#alumniDetails {
  text-align: center;
}

#alumniDetails img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

#alumniDetails p {
  font-size: 18px;
  margin: 5px 0;
}

#alumniDetails a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}
